<div class="pop-heading" mat-dialog-title>{{dialogTitle}}
  <div class="d-inline-flex">
    <button mat-icon-button  (click)="_dialogRef.close()"><i class="icon-cursor"></i></button>
  </div>
</div>
<form [formGroup]="addModuleForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    
        

        <div formArrayName="itemRows">
          <div *ngFor="let itemrow of addModuleForm.controls.itemRows['controls']; let i=index" [formGroupName]="i">
            <div class="row gutter-10 align-items-center">
              <div class="col-auto">
                <div class="form-group">
                  1&emsp;{{ _dialogData.data }} <i class="icon-equals ml-2"></i>
                </div>
              </div>
              <div class="col-12 col-md">
                <mat-form-field appearance="outline">
                  <mat-label>Number</mat-label>
                  <input matInput placeholder="Number" formControlName="number">
                  <mat-error
                    *ngIf="(formArr.controls[i].controls.number.touched ||formArr.controls[i].controls.number.dirty || submitted)">
                    <span *ngIf="formArr.controls[i].controls.number.errors">Enter valid Number .</span>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 col-md">
                <mat-form-field appearance="outline">
                  <mat-label>Select Type</mat-label>
                  <mat-select formControlName="type"  (selectionChange)="unitofMeasureCodeTypeChange($event)">
                    <mat-option  [disabled]="unitofMeasureCodeSelectedSelectedArray.includes(unitofMeasureCode.text)" *ngFor="let unitofMeasureCode of unitofMeasureCode"   [value]="unitofMeasureCode.text">
                      {{unitofMeasureCode.text}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-auto">
                <div class="form-group">
                  <button type="button" mat-stroked-button *ngIf="addModuleForm.controls.itemRows.controls.length > 1"
                    (click)="deleteRow(i)" class="btn-box">
                    <i class="icon-rubbish-bin"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <button type="button" mat-stroked-button (click)="addNewRow()" color="primary">Add More</button>
        </div>
 
  </div>
  <div mat-dialog-actions class="pop-footer">
      <button mat-flat-button color="accent"  cdkFocusInitial  type="submit"
      [ngClass]="{'btn-loader': isLoading}">{{btnValue}}<i [hidden]="isLoading"></i></button>
    <button  mat-stroked-button type="button"  class="ml-auto" cdkFocusInitial (click)="backProgress()">Cancel</button>
  </div>
</form>
