<div class="pop-heading" mat-dialog-title>{{dialogTitle}}
  <div class="d-inline-flex">
    <button mat-icon-button  (click)="_dialogRef.close()"><i class="icon-cursor"></i></button>
  </div>
</div>
<form [formGroup]="addModuleForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="box">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Type*</mat-label>
            <input matInput formControlName="groupName">
            <mat-error *ngIf="(f.groupName.touched || f.groupName.dirty || submitted)">
              <span *ngIf="f.groupName.errors?.required">Type is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Select Language</mat-label>
            <mat-select formControlName="language">
              <mat-option *ngFor="let language of language" [value]="language.id">
                {{language.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="pop-footer">
      <button mat-flat-button color="accent"  cdkFocusInitial  type="submit"
      [ngClass]="{'btn-loader': isLoading}">{{btnValue}}<i [hidden]="isLoading"></i></button>
    <button  mat-stroked-button  class="ml-auto" cdkFocusInitial (click)="backProgress()">Cancel</button>
  </div>
</form>
